build/
features/loramac-node/debug/
features/loramac-node/release/
features/Cordio/debug/
features/Cordio/release/
features/FreeRTOS/debug/
features/FreeRTOS/release/
features/FreeRTOS-Plus-CLI/debug/
features/FreeRTOS-Plus-CLI/release/
features/hal/debug/
features/hal/release/
features/utils/debug/
features/utils/release/
.settings/
.cproject
.project
*.d
*.o
*.a
am_bsp_pins.c
am_bsp_pins.h
